.button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100vh;
  color: var(--color-font-white);
  background-color: var(--color-bg-black);
  font-weight: bold;
}
.buttonMedium {
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 180px;
  height: 45px;
}
.buttonWhite {
  background-color: var(--color-bg-white);
  color: var(--color-font-base);
}