.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 32px;
}
.item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}
.label {
  font-weight: bold;
}
.textfield,
.textarea {
  width: 100%;
  height: 100%;
  padding: 8px;
  border: 1px solid var(--color-border-gray);
}
.textfield {
  height: 45px;
}
.textarea {
  height: 200px;
}
.button {
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 180px;
  height: 45px;
  margin: 0 auto;
  padding: 8px 16px;
  border-radius: 100vh;
  color: var(--color-font-white);
  background-color: var(--color-bg-black);
  font-weight: bold;
}
.success {
  margin-top: 32px;
  padding: 40px;
  border-radius: 4px;
  background-color: #f3f3f3;;
  text-align: center;
}
.error {
  margin-bottom: 8px;
  color: #F33;
  font-size: 14px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .item {
    grid-template-columns: 200px 1fr;
  }
  .textfield {
    height: 48px;
  }
}