.list {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.item {
  display: grid;
  place-items: center;
  width: 35px;
  height: 35px;
  background-color: var(--color-bg-gray);
  font-size: 14px;
}
.current {
  background-color: var(--color-bg-black);
  color: var(--color-font-white);
}